body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding:0;
  margin:0;
  font-family: 'Lato', sans-serif;
}

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;
}

.contacts{
  margin-bottom: 20px;
}

h1 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 48px;
  color: #000000;
  line-height: 48px;
  display: inline;
}

h2 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 40px;
  text-align: center;
  color: #000000;
  line-height: 70px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h2,
h4,
h5 {
  padding:10px 5%;

}
h3 {
line-height: 48px;
}

.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;

}

p {
  font-size: 14px;
  color: #333;
  line-height: 21px;
}

a {
  color: #1199c3;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #454545;
  line-height: 28px;
  margin: 0px 0px 0px -45px;
}
}

#skills-h3 {
  color: #000000;
  display: none;
}

.black {
  background-color: #000000;
}

.black-text {
  font-weight: bold;
  font-size: 14px;
  color: #000000;
}

.white-text {
  font-weight: bold;
  color: #FFFFFF;
  vertical-align: text-top;
}

.gray-text {
  font-weight: bold;
  color: #868686;
}
.white {
  background-color: #F5F5F5;
  padding-bottom: 10px;
  clear:both;
}

.light-gray {
  background-color: #E8E8E8;
  padding-bottom: 10px;
  clear:both;
}
.gray {
  margin-top: -8px;
  background-color: #4a4a4a;
}
.dark-gray {
  margin-top: -8px;
  background-color: #4a4a4a;
}
.connect-gray{
  background-color: #868686;
}

/* TODO: Replace with image later */
#header {
  background-image: url('../images/29478830.jpg');
  background-repeat: no-repeat;
    background-size: cover;
  background-color: #ffffff;
  padding-bottom: 5px;

}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

.biopic {
  float: left;
  max-width: 200px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: none;
}

img {
  padding: 10px;
}

span {
  padding: 5px;
}

.project-img{
  margin-left: auto;
  margin-right: auto
}

#lets-connect {
  text-align: center;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

.content {
  margin: auto;
  width: 65%;
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 7%;
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
}
